<h1>Places</h1>
<p>Oh, the places you'll go!</p>
<h1><%= @place.name %></h1>
<h2>Posts</h2>
<ul>
  <% @place.posts.each do |post| %>
    <li>
      <strong><%= post.title %></strong> - <%= post.created_at.strftime("%B %d, %Y") %>
      <p><%= post.description %></p>
    </li>
  <% end %>
</ul>
<%= link_to 'Add a New Post', new_place_post_path(@place) %>